/* Global CSS for all pages */

* {
    /* Sizing helper: See Workbook 1b, page 2-33. */
    box-sizing: border-box;

    /* 
       Vizualization helper: While styling or debugging your HTML & CSS, 
       uncomment the rule below to see all the boxes on your page more
       clearly! (Remove this outline before submitting: users won't 
       want to see it!)
    */
    /* outline: 1px dotted red; */
}

:root {
    font-size: 1rem;
}

body {
    /* background-color: #6A8AE1 ; */
    background-color: #6A8AE1;
}

main {
    background-color: #FFA341 !important;
}

nav {
    background-color: #486ED5;
}

/*Maybe change this*/
.myCardColor {
    background-color: #6A8AE1;
}

.stickyNavBar {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;

}

.orangeBackground{
    background-color: #FFA341 !important;
}

.blueBackground{
    background-color: #6A8AE1 !important;
}
.navbarBackground {
    background-color: #6A8AE1;
}

a.nav-link {
    background-color: #FFCC96 !important;
    color: black !important;
}

a.nav-link.active {
    background-color: #FFA341 !important;
    border-color: transparent !important;
}

a.nav-link.active:hover {
    background-color: #FFA341 !important;
}

a.nav-link:hover {

    background-color: #FFA341 !important;
}

.postsContainer {
    background-color: #6A8AE1 !important;
}

.lightOrangeFontColor{
    color: #FFB568 !important; 
}

.orangeFontColor{
    color: #FC8100 !important; 
}

.blueFontColor{
    color: #0F38A9 !important;
}

.lightBlueFontColor{
    color: #6A8AE1 !important;
}

.whitesmokeText{
    color:rgb(214, 214, 214);
}