body {
    /* background-color: #6A8AE1 ; */
    background-color: #6A8AE1 ;
}
main{
    background-color: #FFA341 !important;
}
nav{
    background-color: #486ED5;
}

/*Maybe change this*/
.myCardColor{
    background-color: #6A8AE1;
}


a.nav-link{
    background-color: #FFCC96 !important;
    color: black !important;
}

a.nav-link.active{
    background-color: #FFA341 !important;
    border-color: transparent !important;
}

a.nav-link.active:hover{
    background-color: #FFA341 !important;
}

a.nav-link:hover{
    
    background-color: #FFA341 !important;
}

.postsContainer{
    background-color: #6A8AE1 !important;
}